{
    "extends": [
        "devextreme/typescript",
        "devextreme/spell-check"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "ignorePatterns": ["node_modules", "dist", "devextreme"],
    "parserOptions": {
        "project": ["./tsconfig.json", "./packages/*/tsconfig.json"]
    },
    "rules": {
        "import/no-cycle": "warn",
        "no-param-reassign": "warn",
        "no-underscore-dangle": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        "spellcheck/spell-checker": [1, {
            "lang": "en_US",
            "comments": false,
            "strings": false,
            "identifiers": true,
            "templates": false,
            "skipIfMatch": [ "^\\$?..$" ],
            "skipWords": [
               "unschedule",
               "subscribable",
               "renderer",
               "rerender",
               "dx",
               "descr",
               "params",
               "typings",
               "wildcard",
               "metadata",
               "namespace",
               "namespaces"
            ]
        }
    ]
    },
    "overrides": [
        {
            "files": [ "./packages/sandbox/*.ts", "./packages/sandbox/*.tsx", "packages/devextreme-react/src/*.ts" ],
            "rules": {
                "import/extensions": "warn",
            }
        }
    ]
}

