{
    "extends": [
      "devextreme/typescript"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "project": ["./tsconfig.json", "./example/tsconfig.json"]
    },
    "rules": {
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "react/require-default-props": "off",
        "react/destructuring-assignment": "off",
        "react/no-children-prop": "off",
        "react/no-access-state-in-setstate": "off",
        "react/forbid-prop-types": "off",
        "react/no-unused-state": "off",
        "import/no-named-as-default": "off",
        "react/prefer-stateless-function": "off",
        "import/no-cycle": "off",
        "no-param-reassign": "off",
        "no-undef": "off",
        "no-underscore-dangle": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-explicit-any": "off",
        // "consistent-return": "off",
        // "max-classes-per-file": "off",
        // "import/no-extraneous-dependencies": "off"
        // "import/order": "off",
        // "import/no-useless-path-segments": "off",
        // "linebreak-style": "off",
        // "no-extra-boolean-cast": "off",
        // "no-multi-spaces": "off",
        // "no-alert": "off"
        // "no-continue": "off",
        // "no-plusplus": "off",
        // "no-prototype-builtins": "off",
        // "object-curly-spacing": "off",
        // "react/button-has-type": "off",
        // "react/jsx-tag-spacing": "off",
        // "react/jsx-curly-brace-presence": "off",
        // "react/jsx-indent": "off",
        // "react/jsx-indent-props": "off",
        // "react/jsx-props-no-spreading": "off",
        // "react/jsx-one-expression-per-line": "off",
        // "react/jsx-fragments": "off",
        // "react/jsx-boolean-value": "off",
        // "react/jsx-closing-tag-location": "off",
        // "array-bracket-spacing": "off",
        // "react/static-property-placement": "off",
        // "react/no-find-dom-node": "off"
        // "react/no-unescaped-entities": "off",
        // "padded-blocks": "off",
        // "max-len": "off",
        // "@typescript-eslint/indent": "off",
        // "@typescript-eslint/quotes": "off",
        // "@typescript-eslint/comma-dangle": "off",
        // "@typescript-eslint/semi": "off",
        // "@typescript-eslint/lines-between-class-members": "off",
        // "@typescript-eslint/no-inferrable-types": "off",
        // "@typescript-eslint/no-useless-constructor": "off",
        // "@typescript-eslint/no-unused-vars": "off"
        // "@typescript-eslint/dot-notation": "off",
        // "@typescript-eslint/explicit-module-boundary-types": "off",
        // "@typescript-eslint/no-shadow": "off",
        // "object-curly-newline": "off",
        // "prefer-template": "off",
        // "operator-linebreak": "off",
        // "react/sort-comp": "off",
        // "arrow-body-style": "off",
        // "import/extensions": "off",
        // "array-callback-return": "off",
        // "no-useless-return": "off",
        // "no-restricted-syntax": "off",
        // "no-return-assign": "off",
        // "no-useless-escape": "off",
        // "function-paren-newline": "off",
        // "prefer-destructuring": "off",
        // "class-methods-use-this": "off",
        // "@typescript-eslint/no-unused-var": "off"
    }
}